@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Questrial&family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Questrial';
}

body {
    background-image: url("../img/dessert-4071142_1280.jpg");
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.text-color {
    color: rgb(218, 196, 251);
}

.navbar-logo {
    font-family: 'Oswald', sans-serif;
    color: white;
    text-decoration: none;

}

.navbar-logo:hover {
    color: rgb(218, 196, 251)
}

.navbar-nav {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
}

.navbar-link:hover {
    color: rgb(218, 196, 251);
}

.navbar-link{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    background: none;
    border: none;
}

.contacto_box {
    width: 80%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(40, 19, 155, 0.041));
    margin: 50px;
    padding: 70px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: #3a3636;
}

.contacto_box label {
    margin: 0.8rem;
}

.form-input {
    border: 1px solid #3a3636;
    border-radius: 4px;
    padding: 0.6rem;
}

.submit-button {
    border-radius: 4px;
    padding: 1rem;
    margin-top: 1rem;
    border: none;
}

.submit-button:hover {
    background-color: rgb(218, 196, 251);
}

.productos {
    width: 100%;
}

.card-t {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.247), rgba(40, 19, 155, 0.041));
    border: 1px solid rgba(255, 255, 255, 0.678);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: #3a3636;
    border-radius: 10px;
}